# Part 1: Data Fundamentals

**Data Engineer Assessment** | Estimated time: ~15 minutes

This notebook tests your understanding of core data engineering fundamentals:
- **Section 1**: Data Types & Data Structures (~8 min)
- **Section 2**: File Formats & Encoding (~7 min)

Complete the tasks by writing code in the provided cells. Some cells contain starter code or hints — follow the instructions in the comments.

## Libraries and settings

In [ ]:
# Libraries
import os
import warnings
import pandas as pd
import numpy as np
import re

# Ignore warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

## Section 1: Data Types & Data Structures (~8 min)

### Task 1.1: Python Data Types & Type Casting

The apartment rental data contains raw string values like these:

| Raw value | Expected result |
|---|---|
| `"3,5 Zimmer, 88 m², CHF 2244.—"` | rooms = `3.5`, area = `88`, price = `2244.00` |
| `"CHF 3017.—"` | `3017.0` (float) |
| `"Preis auf Anfrage"` | `None` |

**Your tasks:**
1. Extract the number of rooms, area and price from `raw_value` as proper numeric types
2. Handle the case where the price is not available (`"Preis auf Anfrage"`)
3. Print each result together with its Python type using `type()`

In [ ]:
# Raw data from the apartments dataset
raw_value = '3,5 Zimmer, 88 m², CHF 2244.—'
price_raw_1 = 'CHF 3017.—'
price_raw_2 = 'Preis auf Anfrage'

# TODO: Extract rooms as a float (e.g., 3.5)
rooms = re.search(r"(\d+,\d+)\s*Zimmer", raw_value).group(1)
rooms = rooms.replace(",", ".")
rooms = float(rooms)

# TODO: Extract area as an integer (e.g., 88)
area = re.search(r"(\d+)\s*m²", raw_value).group(1)
area = int(area)
# TODO: Extract price from price_raw_1 as a float (e.g., 3017.0)
price_1 = re.search(r"CHF\s(\d+\.\d{0,2})", price_raw_1).group(1)
price_1 = float(price_1)

# TODO: Handle price_raw_2 — assign None if it cannot be converted to a number
match = re.search(r"CHF\s(\d+\.\d{0,2})", price_raw_2)
price_2 = float(match.group(1)) if match else None

# Print results with their types
print(f'rooms:   {rooms}  -> {type(rooms)}')
print(f'area:    {area}   -> {type(area)}')
print(f'price_1: {price_1} -> {type(price_1)}')
print(f'price_2: {price_2} -> {type(price_2)}')

### Task 1.2: Core Data Structures

**Your tasks:**

1. Create a **list** of apartment descriptions and use it to count how many contain the word "Winterthur"
2. Create a **dictionary** that maps 3 city names to their average apartment price (use made-up values)
3. Given two lists of cities, use a **set** to find which cities appear in both lists
4. Create a **tuple** representing a single apartment record (address, rooms, price) — and demonstrate that it cannot be modified

In [ ]:
# Task 1.2.1 — List: count apartments mentioning 'Winterthur'
descriptions = [
    'Schöne 3.5-Zimmerwohnung mit Balkon in Winterthur',
    'Moderne Wohnung in Zürich mit Seesicht',
    'Grosszügige Wohnung im Herzen von Winterthur',
    'Attraktive Wohnung in Bern Altstadt',
    'Erstbezug in Winterthur Lokstadt'
]

# TODO: Count how many descriptions contain the word 'Winterthur'
count_winterthur = sum(['Winterthur' in d for d in descriptions])
print(f'Apartments in Winterthur: {count_winterthur}')

In [ ]:
# Task 1.2.2 — Dictionary: city to average price mapping
# TODO: Create a dictionary with at least 3 cities as keys and average prices as values
city_prices = {
    "Winterthur": 2030.3,
    "Bern": 2250.9,
    "Basel": 2179
}

# TODO: Print the price for one specific city using key access
print(f'Average rent price in Basel: {city_prices["Basel"]}')

In [ ]:
# Task 1.2.3 — Set: find cities that appear in both lists
cities_list_a = ['Zürich', 'Winterthur', 'Bern', 'Basel']
cities_list_b = ['Winterthur', 'Luzern', 'Zürich', 'St. Gallen']

# TODO: Use sets to find cities that appear in both lists
#common_cities = list(set(cities_list_a) & set(cities_list_b))
common_cities = [a for a in cities_list_a if a in cities_list_b]
print(common_cities)

In [ ]:
# Task 1.2.4 — Tuple: immutable apartment record
# TODO: Create a tuple with (address, rooms, price) for one apartment
apartment_record = ('Bahnhofstrasse 27', 3.5, 2090.5)
print(f'Apartment record: {apartment_record}')

# TODO: Try to modify one element of the tuple (e.g., change the price)
# This should raise a TypeError — wrap it in a try/except block
try:
    apartment_record[2] = 1000
except TypeError:
    print(f'Tuple modification not allowed!')

### Task 1.3: Pandas Fundamentals

**Your tasks:**

1. Create a pandas **Series** from a list of prices and calculate the mean
2. Create a **DataFrame** from a dictionary of apartment data
3. Use `.loc[]` and `.iloc[]` to select specific rows and columns
4. Add a new calculated column and filter the DataFrame

In [ ]:
# Task 1.3.1 — Create a Series of monthly rent prices and calculate basic statistics
prices = [1630, 1970, 2244, 2520, 3017, 3260, 3782]

# TODO: Create a pandas Series from the prices list
price_series = pd.Series(prices)

# TODO: Print the mean, median and standard deviation
print("Mean:", price_series.mean())
print("Median:", price_series.median())
print("Standard Deviation:", price_series.std())

In [ ]:
# Task 1.3.2 — Create a DataFrame from a dictionary
# TODO: Create a DataFrame with columns: 'address', 'rooms', 'area_m2', 'price_chf'
#       Use at least 4 rows of data (you can use values from the apartment data above)


data = {
    'address': [
        'Bahnstrasse 12, Winterthur',
        'Seestrasse 45, Zürich',
        'Altstadtgasse 3, Bern',
        'Lokstadt, Katharina-Sulzer-Platz, Winterthur'
    ],
    'rooms': [3.5, 2.5, 4.0, 3.0],
    'area_m2': [78, 55, 95, 70],
    'price_chf': [1970, 2520, 3017, 2244]
}

df = pd.DataFrame(data)

# Follow up - if we want to enforce data types
#df = df.astype({
#    'address': 'string',
#    'rooms': 'float64',
#    'area_m2': 'int64',
#    'price_chf': 'float64'
#    })


# Print the DataFrame
print(df)
print(f'\nShape: {df.shape}')
print(f'\nData types:\n{df.dtypes}')

In [ ]:
# Task 1.3.3 — Indexing with .loc[] and .iloc[]
# TODO: Select the first two rows using .iloc[]
first_two = df.iloc[:2]

# TODO: Select only the 'address' and 'price_chf' columns using .loc[]
address_price = df.loc[:, ['address', 'price_chf']]

# Print results
print('First two rows:')
print(first_two)
print('\nAddress and price:')
print(address_price)

In [ ]:
# Task 1.3.4 — Add a calculated column and filter
# TODO: Add a new column 'price_per_m2' = price_chf / area_m2
df['price_per_m2'] = df['price_chf']/df['area_m2']

# TODO: Filter the DataFrame to show only apartments with more than 3 rooms
df_filtered = df[df['rooms'] > 3]

print('DataFrame with price_per_m2:')
print(df)
print(f'\nApartments with more than 3 rooms:')
print(df_filtered)