# Part 1: Data Fundamentals

**Data Engineer Assessment**

This notebook tests your understanding of core data engineering fundamentals:
- **Section 1**: Data Types & Data Structures
- **Section 2**: File Formats & Encoding

Complete the tasks by writing code in the provided cells. Some cells contain starter code or hints — follow the instructions in the comments.

## Libraries and settings

In [ ]:
# Libraries
import os
import warnings
import pandas as pd
import numpy as np
import re

# Ignore warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

## Section 1: Data Types & Data Structures

### Task 1.1: Python Data Types & Type Casting

The apartment rental data contains raw string values like these:

| Raw value | Expected result |
|---|---|
| `"3,5 Zimmer, 88 m², CHF 2244.—"` | rooms = `3.5`, area = `88`, price = `2244.00` |
| `"CHF 3017.—"` | `3017.0` (float) |
| `"Preis auf Anfrage"` | `None` |

**Your tasks:**
1. Extract the number of rooms, area and price from `raw_value` as proper numeric types
2. Handle the case where the price is not available (`"Preis auf Anfrage"`)
3. Print each result together with its Python type using `type()`

In [ ]:
# Raw data from the apartments dataset
raw_value = '3,5 Zimmer, 88 m², CHF 2244.—'
price_raw_1 = 'CHF 3017.—'
price_raw_2 = 'Preis auf Anfrage'

# TODO: Extract rooms as a float (e.g., 3.5)
#rooms = float(raw_value[0:3])

# TODO: Extract area as an integer (e.g., 88)
area = raw_value.split(sep=',')
area = int(area[2][1:4])

# TODO: Extract price from price_raw_1 as a float (e.g., 3017.0)
price_1 = float(price_raw_1.split(sep=' ')[1][0:4])

# TODO: Handle price_raw_2 — assign None if it cannot be converted to a number
price_2 = float(price_raw_2)

# Print results with their types
#print(f'rooms:   {rooms}  -> {type(rooms)}')
print(f'area:    {area}   -> {type(area)}')
print(f'price_1: {price_1} -> {type(price_1)}')
print(f'price_2: {price_2} -> {type(price_2)}')

area:    88   -> <class 'int'>
price_1: 3017.0 -> <class 'float'>
price_2: Ellipsis -> <class 'ellipsis'>

### Task 1.2: Core Data Structures

**Your tasks:**

1. Create a **list** of apartment descriptions and use it to count how many contain the word "Winterthur"
2. Create a **dictionary** that maps 3 city names to their average apartment price (use made-up values)
3. Given two lists of cities, use a **set** to find which cities appear in both lists
4. Create a **tuple** representing a single apartment record (address, rooms, price) — and demonstrate that it cannot be modified

In [15]:
# Task 1.2.1 — List: count apartments mentioning 'Winterthur'
descriptions = [
    'Schöne 3.5-Zimmerwohnung mit Balkon in Winterthur',
    'Moderne Wohnung in Zürich mit Seesicht',
    'Grosszügige Wohnung im Herzen von Winterthur',
    'Attraktive Wohnung in Bern Altstadt',
    'Erstbezug in Winterthur Lokstadt'
]

# TODO: Count how many descriptions contain the word 'Winterthur'
count_winterthur = 0
for i in descriptions:
    if 'Winterthur' in i:
        count_winterthur += 1
print(f'Apartments in Winterthur: {count_winterthur}')

Apartments in Winterthur: 3

In [ ]:
# Task 1.2.2 — Dictionary: city to average price mapping
# TODO: Create a dictionary with at least 3 cities as keys and average prices as values

cities_to_map = ['Zürich', 'Winterthur', 'Bern']
city_prices = 

# TODO: Print the price for one specific city using key access
print(f'Average rent price in Basel: {city_prices["Basel"]}')

SyntaxError: invalid syntax (1310543660.py, line 3)

In [17]:
# Task 1.2.3 — Set: find cities that appear in both lists
cities_list_a = ['Zürich', 'Winterthur', 'Bern', 'Basel']
cities_list_b = ['Winterthur', 'Luzern', 'Zürich', 'St. Gallen']

# TODO: Use sets to find cities that appear in both lists

common_cities = set()
for i in range(len(cities_list_a)):
    if cities_list_a[i] in cities_list_b:
        common_cities.add(cities_list_a[i])


print(common_cities)

{'Winterthur', 'Zürich'}

In [18]:
# Task 1.2.4 — Tuple: immutable apartment record
# TODO: Create a tuple with (address, rooms, price) for one apartment
apartment_record = tuple(['Musterstrasse 5', 3.5, 50000])
print("")
print(f'Apartment record: {apartment_record}')

# TODO: Try to modify one element of the tuple (e.g., change the price)
# This should raise a TypeError — wrap it in a try/except block
...

Apartment record: ('Musterstrasse 5', 3.5, 50000)

Ellipsis

### Task 1.3: Pandas Fundamentals

**Your tasks:**

1. Create a pandas **Series** from a list of prices and calculate the mean
2. Create a **DataFrame** from a dictionary of apartment data
3. Use `.loc[]` and `.iloc[]` to select specific rows and columns
4. Add a new calculated column and filter the DataFrame

In [19]:
# Task 1.3.1 — Create a Series of monthly rent prices and calculate basic statistics
prices = [1630, 1970, 2244, 2520, 3017, 3260, 3782]

# TODO: Create a pandas Series from the prices list
price_series = pd.Series(prices)

# TODO: Print the mean, median and standard deviation
print("Mean:", price_series.mean())
print("Median:", price_series.median())
print("Standard Deviation:", price_series.std())

Mean: 2631.8571428571427
Median: 2520.0
Standard Deviation: 760.5310488010836

In [22]:
# Task 1.3.2 — Create a DataFrame from a dictionary
# TODO: Create a dict with keys: 'address', 'rooms', 'area_m2', 'price_chf'
#       Use at least 4 rows of data for different apartments
#       Create a DataFrame from this dictionary


data = {'address': ['Adresse XYZ', 'Adresse XYZ'], 'rooms': [3.5, 3.5], 'area_m2': ['80 m2', '80 m2'], 'price_chf': [3500, 3500]}

df = pd.DataFrame(data=data)

# Print the DataFrame
print(df)
print(f'\nShape: {df.shape}')
print(f'\nData types:\n{df.dtypes}')

       address  rooms area_m2  price_chf
0  Adresse XYZ    3.5   80 m2       3500
1  Adresse XYZ    3.5   80 m2       3500

Shape: (2, 4)

Data types:
address       object
rooms        float64
area_m2       object
price_chf      int64
dtype: object

In [ ]:
# Task 1.3.3 — Indexing with .loc[] and .iloc[]
# TODO: Select the first two rows using .iloc[]
first_two = ...

# TODO: Select only the 'address' and 'price_chf' columns using .loc[]
address_price = ...

# Print results
print('First two rows:')
print(first_two)
print('\nAddress and price:')
print(address_price)

In [ ]:
# Task 1.3.4 — Add a calculated column and filter
# TODO: Add a new column 'price_per_m2' = price_chf / area_m2
df['price_per_m2'] = ...

# TODO: Filter the DataFrame to show only apartments with more than 3 rooms
df_filtered = ...

print('DataFrame with price_per_m2:')
print(df)
print(f'\nApartments with more than 3 rooms:')
print(df_filtered)